<!-- to diplay issue preview image -->

<% ehrCoverClass = locals.large ? 'ehr-cover-large' : '' %>
<% ehrGridClass = locals.large ? 'ehr-grid-large' : '' %>
<div class="ehr-grid <%= ehrGridClass %>">
  <% issues.forEach(issue => { %>
    <a href="/issues/<%= issue.id %>">
      <img class="ehr-cover <%= ehrCoverClass %>" src="<%= issue.filePath %>">
    </a>
  <% }) %>
</div>