<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Electronic Health Record</a>
    <!--<div class="logo">
    	<img src='./stylesheets/images/uth.png' width='150px' height='150px'  position='relative' transition='transform 0.3s ease' transform='translateX(0px)'>
    </div>-->
    <ul>
      <li><a href="/patients">Patient</a></li>
      <li><a href="/patients/new">Add Patient</a></li>
      <li><a href="/ehrs">Ehrs</a></li>
      <li><a href="/ehrs/new">Add Ehr</a></li>
    </ul>
  </nav>
</header>

