<header>
  <nav>
    <a href="/">Electronic Health Record</a>
    <ul>
      <li><a href="/authors">Patient</a></li>
      <li><a href="/authors/new">Add Patient</a></li>
      <li><a href="/ehrs">Ehrs</a></li>
      <li><a href="/ehrs/new">Add Ehr</a></li>
    </ul>
  </nav>
</header>