<!-- header for the application: contains navigation bar-->
<header>
  <nav class="header-nav">
    <a class="header-title" href="/">SmartCity Problem Submission</a>
  
    <ul>
      <li><a href="/streets">Street</a></li>
      <li><a href="/streets/new">Add Street</a></li>
      <li><a href="/issues">Issues</a></li>
      <li><a href="/issues/new">Add Issue</a></li>
    </ul>
  </nav>
</header>

