<!-- header for the application: contains navigation bar-->
<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Electronic Health Record</a>
  
    <ul>
      <li><a href="/patients">Patient</a></li>
      <li><a href="/patients/new">Add Patient</a></li>
      <li><a href="/ehrs">Ehrs</a></li>
      <li><a href="/ehrs/new">Add Ehr</a></li>
    </ul>
  </nav>
</header>

