<h2>New Book</h2>
<form action="/ehrs" method="POST" >
  <%- include('_form_fields') %>
  <a href="/ehrs">Cancel</a>
  <button type="submit">Create</button>
</form>

<!--enctype="multipart/form-data"-->