
<!-- Searching and showing author names -R FROM CRUD-->

<h2 class="page-header">Search Issue</h2>
<form action="/issues" method="GET">
  <div class="form-row">
  	<div class="form-item">
  		<label>Issue Title</label>
  		<input type="text" name="title" value="<%= searchOptions.title %>">
  	</div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/ehrGrid', { issues: issues, large: true }) %>