<!-- for issue creation-->

<h2 class="page-header">New Issue</h2>
<form action="/issues" method="POST" >
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/issues">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

